#geral{
    text-align: center;
    background-color: #d22d2d;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
::-webkit-scrollbar-thumb{
    background: #4169E1;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background: #03A9F4;
    border-radius: 20px;
}
#frames{
    text-align: center;
    background-color: #87CEEB;
    position:fixed;
    padding: 0.5vh 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: auto;
    object-fit: contain;
    display: inline;
}
#pecs{
    float: left;
    background-color: #87CEEB;
    border: 0.9vh outset #F7FE2E;
    border-radius: 30px;
    width: 45%;
    height: 65%;
    margin-left: 2%;
    margin-top: 5%;
}
#escolhidos{
    float: right;
    background-color: White;
    border: 0.9vh outset #03A9F4;
    border-radius: 30px;
    width: 45%;
    height: 80%;
    margin-right: 2%;
    margin-top: 5%;
}
#categorias{
    text-align: center;
    background-color: #6495ED;
    border: none;
    border-bottom: 0.7vh #4169E1 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 20%;
    display: flex;
}
.imags{
    height: 35%;
    margin: auto 0.5%;
    padding: 0.5vh;
    object-fit: contain;
    display: inline;
    cursor: pointer;
}
.categ{
    height: 50%;
    margin: auto 0.5%;
    padding: 0.5vh;
    object-fit: contain;
    display: inline;
    cursor: pointer;
}
#logo{
    align-self: auto;
    height: 20vh;
}